<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
</head>
<body>
<div class="container" layout:fragment="content">
    <form>
        <div class="mt-3 mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" th:field="${member.email}" readonly="readonly">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" th:field="${member.name}" readonly="readonly">
        </div>
        <div class="mb-1">구독 리스트</div>
        <ol class="list-group list-group-numbered mb-3">
            <li class="list-group-item" th:each="subscription: ${member.subscriptions}" th:text="${subscription.source.description}"></li>
        </ol>
        <a class="btn btn-outline-primary" role="button" th:href="@{/subscriptions/{emailLocationVar}/edit (emailLocationVar=${member.email}, name=${member.name})}">수정</a>
        <a class="btn btn-outline-danger" role="button" th:href="@{/subscriptions/{emailLocationVar}/quit (emailLocationVar=${member.email}, name=${member.name})}">삭제</a>
    </form>
</div>
</body>
</html>