<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <article class="grid">
        <div>
            <hgroup>
                <h1>알림 구독</h1>
                <h2>항공대 공지 알림 서비스</h2>
            </hgroup>
            <form method="post">
                <input type="email" name="email" placeholder="알림을 받을 이메일을 입력해주세요" required/>
                <button type="submit" class="contrast">구독하기</button>
            </form>
        </div>
        <div>
            <a href="/subscriptions"><button>구독 목록 조회 (개발)</button></a>
            <a href="/subscription/find"><button>구독 정보 수정</button></a>
        </div>
    </article>
</th:block>
</html>